<form class="form-signin" action="index.php" method="post">
  <input type="hidden" name="section" value="contact-us">
  <input type="hidden" name="action" value="submitContactForm">

  <div class="text-center mb-4">
    <img class="mb-4" src="https://getbootstrap.com/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72"
      height="72">
    <h1 class="h3 mb-3 font-weight-normal">
      <?php echo $page->title ?>
    </h1>
    <p>
      <?php echo $page->content ?>
    </p>
  </div>

  <div class="form-label-group">
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name="email" required
      autofocus>
    <label for="inputEmail">Email address</label>
  </div>

  <div class="form-label-group">
    <textarea type="textarea" id="comment" class="form-control" name="comment" required></textarea>
    <label for="comment">Comment</label>
  </div>

  <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
  <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2020</p>
</form>